$primary-color: #3498db;
$secondary-color: #2ecc71;
$danger-color: #e74c3c;
$background-color: #9ad0dd;
$font-color: #25384b;
$font-family: 'Arial', sans-serif;

@mixin gradient($color1, $color2) {
    background: linear-gradient(to right, $color1, $color2);
}

body {
    font-family: $font-family;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    @include gradient($background-color, lighten($background-color, 10%));
    color: $font-color;
}

.container {
    background: #fff;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    border-radius: 20px;
    text-align: center;
}

.heading {
    color: $primary-color;
    margin-bottom: 20px;
    font-size: 1.8em;
}

.input-section {
    margin-bottom: 20px;

    .input-field {
        width: calc(100% - 20px);
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid darken($background-color, 10%);
        border-radius: 4px;
        font-size: 1em;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .button-group {
        display: flex;
        justify-content: space-between;

        .btn {
            width: 48%;
            padding: 10px;
            border: none;
            color: #fff;
            cursor: pointer;
            border-radius: 4px;
            font-size: 1em;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            transition: background-color 0.3s ease;

            &.btn-income {
                background-color: $secondary-color;

                &:hover {
                    background-color: darken($secondary-color, 10%);
                }
            }

            &.btn-expense {
                background-color: $danger-color;

                &:hover {
                    background-color: darken($danger-color, 10%);
                }
            }
        }
    }
}


.summary-section {
    .summary-item {
        margin-bottom: 15px;
        padding: 10px;
        border-radius: 4px;
        background-color: lighten($background-color, 20%);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        h2 {
            margin: 0;
            font-size: 1.2em;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        span {
            font-weight: bold;
            font-size: 1.2em;
        }
    }
}
